<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RecipesConString" connectionString="	Server = bglkg5fecnbvhysm4c8y-mysql.services.clever-cloud.com;
												Database = bglkg5fecnbvhysm4c8y;
												User = uot0rqrg9upnfxem;
												Password = UaivAUSOg5fFvqhAi2RI;" 
			 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>